body {
    position: relative;
    padding-top: 0px;
  }
  
  #legend-svg {
      vertical-align: top;
  }
  
  
  #max_index {
      position: absolute;
      right:0;
  }
  
  min_index{
      position: absolute;
      left:0;
  }
  
  #scale_container {
      width:  200px;
      display: none;
      position: absolute;
      left: 70px;
      bottom: 600px;
  
  }
  
  #color_scale {
      width: 200px;
      height: 20px;
      bottom: 600px;
      background: -webkit-linear-gradient(left,blue,black)
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  
  li {
      float: left;
  }
  
  li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
      background-color: red;
  }
  
  li .dropdown {
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .text-center {
      text-align: center;
  }
  
  /*
  svg {
      display:block;
      margin: 0 auto;
  }*/
  
  #map_svg{
      position: absolute;
      left:0px;
      top:150px;
  }
  
  #svg2{
      position: absolute;
      left:0px;
      top:150px;
  }
  
  
  path {
      transition: all 0.5s linear;
  }
  
  #info-container {
      display: none;
      width:140px;
      color: #FFFFFF;
      background: #000000;
      height: 45px;
      line-height: 20px;
      text-align: center;
      border-radius: 6px;
      pointer-events: none;
      padding-top: 2px;
  }
  
  #info-container:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 50%;
      margin-left: -8px;
      width: 0; height: 0;
      border-bottom: 8px solid #000000;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
  }
  
  #gradient-container {
      width:  100px;
      display: none;
      position: absolute;
      right: 30px;
      top: 80px;
  }
  
  #legend {
      width: 25%;
      border: 1px solid black;
      border-radius: 8px;
      top: 230px;
      right: 0px;
      position: absolute;
      background: white;
      padding: 2px;
      text-align: justify;
  }
  
  .axis path,
  .axis line{
      fill: none;
      stroke: #000000;
      shape-rendering: crispEdges;
      stroke-width: 3px;
  }
  
  .axis text {
      font-family: sans-serif;
      font-size: 10px;
  }
  
  div#dropdown1{float:left;}
  
  div#inputbox{height:80px;width:150px;float:right;}
  
  div#tag {
      height:80px;
      width:350px;
      color: #708090;
      font-size:30px;
      padding-top: 2px;
      float:left;}
  
  div#chart{float:right;}